#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-size: 15px;
}

body {
  display: flex;
  min-height: 100vh;
}

.App{
  min-width: 315px;
  max-width: 315px;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 10rem;
  position: relative;
}

.image{
  display: flex;
  place-items: center;
  position: relative;
}

.img{
  position: relative;
  display: block;
  width: 100%;
  padding: 2rem;
  margin-top: -11.2rem;
  /* box-shadow: 0rem 1rem 0rem 0 hsl(240, 5%, 91%); */
}
.img::after{
  background-color: black;
  display: block;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: -1rem;
  z-index: -1;
}

.title{
  text-align: center;
  font-weight: 700;
}
.body{
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
.question{
  display: flex;
  justify-content: space-between;
  color: hsl(237, 12%, 33%);
  cursor: pointer;
}
.answer{
  color: hsl(240, 6%, 50%);
  width: 90%;
  font-size: .9rem;
}

.question:hover{
  color: hsl(14, 88%, 65%);
}
.bold{
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}
.up{
  transform: rotate(180deg);
  transition: all ease-out 250ms;
}
.down{
  transform: rotate(360deg);
  transition: all ease-out 250ms;
}

@media (min-width: 780px){
  .App{
    /* min-width: 100vh; */
    min-width: 100vh;
    min-height: auto;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-left: 0;
    position: relative;
  }
  .faq{
    width: 57%;
    margin: 0rem 4rem 1.5rem 2rem;
  }
  .title{
    text-align: left;
  }
  .image{
    display: flex;
    place-items: center;
    overflow: hidden;
    margin: 0;
  }
  .img{
    margin: 0;
    margin-left: -22%;
    display: block;
    transform: scale(1.1);
  }

  .box{
    display: block;
    position: absolute;
    z-index: 1;
    top: 40%;
    bottom: 40%;
    left: -15%;
  }

  .body{
    font-size: .9rem;
  }
  .answer{
    font-size: .8rem;
    width: 95%;
  }
}